{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div>videos</div>
<br/>
<div class="card-group">
{% for video in video_list %}
 <div class="card col-sm-3" style="width: 10rem;">
    <div class="card-body">
        <video name='demo' controls autoplay width='70%' height='40%'>
            <source src="deploy/{{video.url}}" type="video/mp4"></source>
            </video>      
           <a href="{% url 'videos:detail' video.id %}" ><h5 class="card-title">{{video.title}}</h5> </a> 
      <h6 class="card-subtitle mb-2 text-muted">{{video.description}} </h6>
      <p class="card-text"> </p>
      
    </div>
  </div>    
{% endfor %}
</div>
    

{% endblock content %}